@model Demo.Web.Models.UserOrders



<div class="w-100 d-flex flex-column align-items-center justify-content-center">
    <div class="w-75 d-flex flex-row justify-content-between align-items-center m-3  mx-5">
        <h2>Your Orders</h2>
        <div  class="btn cursor-pointer">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary w-183"> Back</a>
        </div>
    </div>

    @if (Model != null)
    {
        foreach (OrderDetailsViewModel order in Model.OrderDetailsViewModels)
        {
            <div class="card mb-4 shadow-sm order-card w-75">
                <div class="card-header bg-primary text-white">
                    <div>
                        <strong>Order No:</strong>@($"{order.CreatedAt:yyMMddHHmm}{order.OrderId.ToString()}")
                    </div>
                    <div class="d-flex justify-content-between">
                        <div><strong>Order Date:</strong> @order.CreatedAt.ToString("dd MMM yyyy")</div>
                        <div><strong>Status:</strong> @order.Status</div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Products:</h5>
                    <ul class="list-group mb-3">
                        @foreach (OrderProductViewModel product in order.OrderProductViewModels)
                        {
                           
                            string productImage = string.IsNullOrEmpty(product.ImageUrl)
                                        ? "/images/Default_pfp.svg.png"
                                        : $"/images/product-images/{product.ImageUrl}";


                            decimal discountedPrice =Math.Round(product.Price - (product.Price * (product.Discount / 100)),2);

                            <li class="list-group-item d-flex justify-content-between align-items-center w-100">
                                <div class="w-25">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="position-relative overflow-hidden orders-image-div">
                                            <img src="@productImage" alt="Product Image" id="productImage"
                                            class="img-fluid  w-100 h-100 object-fit-contain p-3">
                                        </div>
                                        <strong>@product.ProductName</strong>
                                    </div>
                                    <small class="text-muted d-block">Category: @product.CategoryName</small>
                                </div>
                                <div>
                                     <small class="text-muted fw-bold d-block">Quantity: @product.Quantity</small>
                                </div>
                                @if (product.Discount > 0)
                                {
                                    <div class="d-flex flex-column gap-2">
                                        <span class="cart-product-price">
                                            ₹@product.Price
                                        </span>
                                        <span class="cart-product-discount">
                                            ₹@discountedPrice
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    <span>₹@product.Price</span>
                                }

                                @if(order.Status == "Paid")
                                {
                                    <button onclick="openCustomerReviewModal(@product.ProductId)" class="btn btn-primary">Review</button>
                                }
                            </li>
                        }
                    </ul>
                    <div class="text-end">
                        <strong>Total Amount:</strong> <span class="text-success fs-5">@order.TotalAmount.ToString("C")</span>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-info">No orders found.</div>
    }
</div>

<div id="ratingView">
    <partial name="_CustomerReviewModal" model="Model">
</div>

<script>
    function openCustomerReviewModal(productId)
    {
        $('#CustomerRatingModal').modal('show');
        $('#addReviewButton').off('click').click(function(e){
            e.preventDefault();
            var Rating = 0;
            for (var i = 1; i <= 5; i++) {
                if ($("#emptyStar-food-" + i).hasClass("d-none")) {
                    Rating++;
                }
            }
            var comment = $('#orderReviewByCustomer').val();
            data = {
                Rating: Rating,
                ProductId: productId,
                Comment: comment,
                UserId: 0
            }
            $.ajax({
                url: "/Orders/SaveCustomerReview",
                type: "POST",
                data: { customerReviewModel: data },
                success: function (data) {
                    $("#CustomerRatingModal").modal("hide");
                    if (data.success) {
                        toastr.success(data.message);
                        setTimeout(function () {
                            window.location.href = "/Home";
                        }, 1000);
                    } else {
                        toastr.error(data.message);
                    }
                }
            });
        });
    }
</script>