@model Demo.Web.Models.EditProfileViewModel

@if(Model != null)
{
<div class="h-100 w-100 d-flex align-items-center justify-content-center">
    <div class="card shadow w-50 d-flex align-items-center justify-content-center m-5"> 
    <h1 class="text-center text-black mb-5">Edit Profile </h1>
    <div class="d-flex align-items-center justify-content-center flex-column w-75">
        <form class="form-container d-flex flex-column gap-3 w-75 mb-3"  id="editProfileForm" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" name="Id" value="@Model.Id" />
            <div class="d-flex flex-column">
                <div class="input-group" class="py-2 d-flex flex-column">
                    <input type="text" class="form-control" placeholder="FirstName*" id="firstName" asp-for="@Model.FirstName" name="FirstName" value="@Model.FirstName">
                </div>
                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                
            </div>
            <div class="d-flex flex-column">
                <div class="input-group" class="py-2 d-flex flex-column">
                    <input type="text" class="form-control" placeholder="LastName*" id="lastName" asp-for="@Model.LastName" name="LastName" value="@Model.LastName">
                </div>
                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column">
                <div class="input-group" class="py-2 d-flex flex-column">
                
                    <input type="email" class="form-control" placeholder="Email*" id="email" asp-for="@Model.Email" name="Email" value="@Model.Email" readonly>
                    <img src="~/images/person.svg" alt="" class="tiny-svg">
                </div>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                
            </div>
            <div class="d-flex flex-column">
                <div class="input-group" class="py-2 d-flex flex-column">
                    <input type="number" class="form-control" placeholder="PhoneNumber*" id="phoneNumber" asp-for="@Model.PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber">
                </div>
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                
            </div>
            <div class="d-flex flex-column">
                <div class="input-group" class="py-2 d-flex flex-column">
                    <textarea type="text" class="form-control" placeholder="Address*" id="address" asp-for="@Model.Address" name="Address" va></textarea>
                </div>
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
@{

    string profileImagePath = string.IsNullOrEmpty(@Model.ImageUrl)
    ? "/images/Default_pfp.svg.png"
    : $"/images/profile-images/{@Model.ImageUrl}";
                        
}
            <div class="d-flex flex-column">
                <img src="@profileImagePath" alt="Profile Image" class="profile-image mb-3">
            </div>
        <div class="input-group pb-4">
            <input type="file" id="upload-btn" asp-for="@Model.Image"
            name="Image" class="position-absolute file-input-btn" 
            accept="image/*">
        </div>
        <span asp-validation-for="@Model.Image" class="text-danger"></span>
            <button type="submit" class="btn btn-primary">Save Profile</button>
        </form>
    </div>
    </div>
</div>
}

<script src="~/js/editProfile.js"></script>