@model Demo.Web.Models.CartViewModel
<div class="d-flex flex-column gap-2 cart-product-list">
 @if(Model!= null && Model.CartProductViewModels!=null && Model.CartProductViewModels.Count > 0)
    {
        decimal totalAmount=0;
        foreach(CartProductViewModel product in Model.CartProductViewModels)
        {
            
           
             string productImage = string.IsNullOrEmpty(product.ImageUrl)
                                        ? "/images/Default_pfp.svg.png"
                                        : $"/images/product-images/{product.ImageUrl}";

            decimal discountedPrice =Math.Round(product.Price -((product.Price * product.Discount)/100),2);
             totalAmount = totalAmount + (discountedPrice*product.Quantity);
            <li class="list-group-item d-flex justify-content-between align-items-center w-100">
                <div class="w-40">
                    <div class="d-flex flex-row align-items-center">
                        <div class="position-relative overflow-hidden inner-cart-product-card">
                            <img src="@productImage" alt="Product Image" id="productImage"
                            class="img-fluid  w-100 h-100 object-fit-contain p-3">
                        </div>
                        <strong>@product.ProductName</strong>
                    </div>
                </div>
                <div class="d-flex justify-content-between w-60">
                    <div class="d-flex align-items-center gap-2">
                        <span class="decrease-quantity-size cursor-pointer" onclick="decreaseQuantity(@product.ProductId)">-</span>
                            <p class="fw-bold m-0 mt-2">@product.Quantity</p>
                        <span class="increase-quantity-size cursor-pointer" onclick="increaseQuantity(@product.ProductId)">+</span>
                    </div>
                @if (product.Discount > 0)
                {
                    <div class="d-flex flex-column gap-2 ps-5 ms-5">
                        <span class="ms-5 cart-product-price">
                            ₹@product.Price
                        </span>
                        <span class="ms-5 cart-product-discount fw-bold">
                            ₹@discountedPrice
                        </span>
                    </div>
                }
                else
                {
                    <div class="d-flex flex-column gap-2 ps-5 ms-5">
                        <span class="ms-5">₹@product.Price</span>
                    </div>
                }
                <button class="btn btn-danger btn-sm" onclick="removeProductFromCart(@product.ProductId)">Remove from cart</button>
                </div>
            </li>
        }
        <input type="hidden" id="amount" value="@totalAmount">
    }
</div>
<h6 class="m-0">Amount to pay: ₹<span class="m-0" id="totalAmount"></span> </h6>
 <div class="d-flex justify-content-start align-items-center  mt-3">
    <button class="btn btn-primary" id="rzp-button">Proceed to Pay</button>
</div>
<script>
    var totalAmount = $('#amount').val();
    var totalAmountElement = document.getElementById('totalAmount');
    var amount = parseFloat(totalAmount) || 0;  // Default to 0 if null, empty, or undefined
    totalAmountElement.innerHTML = amount.toFixed(2);
</script>
<script src="~/js/payment.js"></script>
