@model Demo.Web.Models.CLAViewModel

<div class="modal fade" id="addEditProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content h-100">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    @if (Model.productViewModel?.Id > 0)
                    {
                        <span>Edit Product</span>
                    }
                    else
                    {
                        <span>Add Product</span>
                    }
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form  id="addEditProductForm" method="post" class="d-flex flex-column gap-2">
                   
                    @if(Model.productViewModel!= null && Model.productViewModel?.Id > 0)
                    {
                        <input type="hidden" asp-for="productViewModel.Id" value="@Model.productViewModel.Id"/>
                    }
                    else
                    {
                        <input type="hidden" asp-for="productViewModel.Id" value="0"/>
                    }
                    @if(Model.productViewModel != null && Model.productViewModel.Name != null)
                    {
                        <div class="d-flex flex-column p-2">
                                <label for="name" class="form-label">Name</label>
                            <div class="input-group" class="py-2 d-flex flex-column">
                                <input type="text" class="form-control" placeholder="Name*" id="name" asp-for="@Model.productViewModel.Name" name="productViewModel.Name" value="@Model.productViewModel.Name">
                            </div>
                                <span asp-validation-for="@Model.productViewModel.Name" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex flex-column p-2">
                                <label for="name" class="form-label">Name</label>
                            <div class="input-group" class="py-2 d-flex flex-column">
                                <input type="text" class="form-control" placeholder="Name*" id="name" asp-for="@Model.productViewModel.Name" name="productViewModel.Name">
                            </div>
                                <span asp-validation-for="@Model.productViewModel.Name" class="text-danger"></span>
                        </div>
                    }
                    @if(Model.productViewModel != null && Model.productViewModel.Description != null)
                    {
                        <div class="d-flex flex-column p-2">
                                <label for="description" class="form-label">Description</label>
                            <div class="input-group" class="py-2 d-flex flex-column">
                                <textarea type="text" class="form-control" placeholder="Description*" id="description" asp-for="@Model.productViewModel.Description" name="productViewModel.Description">@Model.productViewModel.Description</textarea>
                            </div>
                                <span asp-validation-for="@Model.productViewModel.Description" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex flex-column p-2">
                                <label for="description" class="form-label">Description</label>
                            <div class="input-group" class="py-2 d-flex flex-column">
                                <textarea type="text" class="form-control" placeholder="Description*" id="description" asp-for="@Model.productViewModel.Description" name="productViewModel.Description"></textarea>
                            </div>
                                <span asp-validation-for="@Model.productViewModel.Description" class="text-danger"></span>
                        </div>
                    }
                    <input type="hidden"  id="categoryId" asp-for="@Model.productViewModel.CategoryId" value="0">
                    @if(Model.productViewModel != null && Model.productViewModel.Price > 0)
                    {
                            <div class="d-flex flex-column p-2">
                                    <label for="price" class="form-label">Price</label>
                                <div class="input-group" class="py-2 d-flex flex-column">
                                    <input type="number" class="form-control" placeholder="Price*" id="price" asp-for="@Model.productViewModel.Price" name="productViewModel.Price" value="@Model.productViewModel.Price">
                                </div>
                                    <span asp-validation-for="@Model.productViewModel.Price" class="text-danger"></span>
                            </div>
                    }
                    else
                    {
                        <div class="d-flex flex-column p-2">
                                <label for="price" class="form-label">Price</label>
                            <div class="input-group" class="py-2 d-flex flex-column">
                                <input type="number" class="form-control" placeholder="Price*" id="price" asp-for="@Model.productViewModel.Price" name="productViewModel.Price">
                            </div>
                                <span asp-validation-for="@Model.productViewModel.Price" class="text-danger"></span>
                        </div>
                    }
                    @if(Model.productViewModel != null && Model.productViewModel.Discount > 0)
                    {
                        <div class="d-flex flex-column p-2">
                                <label for="discount" class="form-label">Discount</label>
                            <div class="input-group" class="py-2 d-flex flex-column">
                                <input type="number" class="form-control" placeholder="Discount*" id="discount" asp-for="@Model.productViewModel.Discount" name="productViewModel.Discount" value="@Model.productViewModel.Discount" oninput="updateDiscountAmount()">
                            </div>
                                <span asp-validation-for="@Model.productViewModel.Discount" class="text-danger"></span>
                        </div>

                        <div class="d-flex flex-column p-2">
                            <label for="discountAmount" class="form-label">Discount Amount</label>
                            <div class="input-group py-2 d-flex flex-column">
                                <input type="number" asp-for="@Model.productViewModel.DiscountAmount" name="productViewModel.DiscountAmount" value="@Model.productViewModel.DiscountAmount" class="form-control w-100" placeholder="Discount Amount*" id="discountAmount" readonly>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex flex-column p-2">
                                <label for="discount" class="form-label">Discount</label>
                            <div class="input-group" class="py-2 d-flex flex-column">
                                <input type="number" class="form-control" placeholder="Discount*" id="discount" asp-for="@Model.productViewModel.Discount" name="productViewModel.Discount" oninput="updateDiscountAmount()">
                            </div>
                                <span asp-validation-for="@Model.productViewModel.Discount" class="text-danger"></span>
                        </div>

                        <div class="d-flex flex-column p-2">
                            <label for="discountAmount" class="form-label">Discount Amount</label>
                            <div class="input-group py-2 d-flex flex-column">
                                <input type="number" asp-for="@Model.productViewModel.DiscountAmount" name="productViewModel.DiscountAmount" class="form-control w-100" placeholder="Discount Amount*" id="discountAmount" readonly>
                            </div>
                        </div>
                    }
                         <label for="upload-btn" class="upload-btn">Product Image</label>
                    <div class="d-flex flex-column p-2">
                        <input type="file" id="upload-btn" asp-for="@Model.productViewModel.ProductImage"
                        name="productViewModel.ProductImage" class="position-absolute file-input-btn" 
                        accept="image/*">
                    </div>
                    <span asp-validation-for="@Model.productViewModel.ProductImage" class="text-danger"></span>
                    <div class="d-flex justify-content-end gap-2 px-2">
                        <button type="submit" class="btn btn-primary mt-3">Save Product</button>
                        <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}
<script src="~/js/cla.js"></script>

<script>
        function updateDiscountAmount() {
        const priceInput = document.getElementById('price');
        const originalPrice = parseFloat(priceInput.value) || 0;
        if (isNaN(originalPrice) || originalPrice <= 0) {
            document.getElementById('discountAmount').value = 'Invalid Price';
            return;
        }
        const discountPercentage = parseFloat(document.getElementById('discount').value) || 0;
        const discountAmount = (originalPrice * discountPercentage) / 100;
        document.getElementById('discountAmount').value = discountAmount.toFixed(2);
    }
</script>